<div id="container-general" class="bg-slate-100">
  <div id="intro">
    <div class="intro-info">
      <p class="gray-phrase text-sm">Construction company in Uzbekistan</p>
      <h2 class="text-5xl pb-4">
        Modular pavilions and kiosks with installation
      </h2>
      <p class="text-lg gray-phrase">
        We will manufacture, deliver and install a modular pavilion (kiosk,
        stall, store). Ready-made and custom-made projects at prices lower than
        competitors thanks to proprietary methods.
      </p>
      <div class="action-main mt-[50px] mx-2">
        <button mat-raised-button color="primary">Module sizes and prices</button>
        <p class="mx-4">
          Or
          <span (click)="openContactDialog()" class="span-link">contact</span>
          us to discuss a custom kiosk project for your business
        </p>
      </div>
    </div>
    <div class="main-image">
      <img src="assets/images/main.png" alt="main" />
    </div>
  </div>
</div>
