<app-call-form
  (closeModalDialog)="closeForm()"
  class="z-50"
  *ngIf="isContactOpened()"
></app-call-form>
<div
  class="header-container bg-gray-900 text-white p-4 flex justify-between rounded-2xl"
>
  <div class="logo mb-4 lg:mb-0 flex-1" (mousedown)="navigateTo('main')">
    <img src="assets/images/budkauzLogo.png" width="120" alt="logo" />
  </div>
  <div class="navigation-info">
    <div
      class="upper-side w-full px-4 mb-4 flex justify-end gap-5 items-center"
    >
      <button
        *ngIf="isAuthenticated()"
        (click)="openApplications()"
        mat-raised-button
        color="primary"
      >
        Applications
      </button>
      <button (click)="openContactDialog()" mat-raised-button color="accent">
        Shall we call?
      </button>
      <div class="contacts">
        <p class="mt-2">Tashkent region, Baytkurgan</p>
        <p>Call +998977020330</p>
      </div>
    </div>

    <div class="bottom-side lg:ml-4">
      <ul class="flex space-x-4">
        <li class="hover:underline" (click)="navigateTo('main')">Main</li>
        <li class="hover:underline" (click)="navigateTo('projects')">
          Projects
        </li>
        <li class="hover:underline">Calculator</li>
        <li class="hover:underline">Gallery</li>
        <li class="hover:underline">Materials</li>
        <li class="hover:underline">Delivery</li>
        <li class="hover:underline">About Us</li>
      </ul>
    </div>
  </div>
</div>
