<footer>
  <div class="price-section">
    <p>Pavilion price (turnkey) :</p>
    <p class="price">{{ price }}</p>
    <p class="text-2xl text-slate-500">+</p>
    <p>Delivery to the address</p>
  </div>
  <div class="contacts">
    <div class="imgs">
      <img src="assets/images/telegram.png" alt="telegram" />
      <img src="assets/images/telephone.png" alt="phone" />
    </div>
    <p class="underline">+998 (97) 702-03-30</p>
  </div>
  <div class="delivery">
    <img src="assets/images/delivery-truck.png" alt="truck" />
    <div class="delivery-text">
      <p class="del-main">Delivery throughout Uzbekistan</p>
      <p class="del-additional">Delivery via crane manipulator and assembly</p>
    </div>
  </div>
  <button mat-raised-button color="accent">Shall we call?</button>
</footer>
