<div class="flex justify-center items-center mx-auto">
  <div *ngIf="!approvalAsked()">
    <mat-card id="auth" class="max-w-md p-6 md:p-10 h-auth w-auth">
      <h1 class="text-center pb-5 md:pb-10 text-2xl md:text-3xl text-gray-800">
        Admin Panel
      </h1>
      <div *ngIf="isLoading()" class="flex justify-center items-center h-full">
        <mat-spinner diameter="70" class="mx-auto"></mat-spinner>
      </div>
      <form
        #authForm="ngForm"
        (ngSubmit)="onSubmit(authForm)"
        *ngIf="!isLoading()"
      >
        <div *ngIf="errorMessage()" class="text-red-500 text-center mb-3">
          {{ errorMessage() }}
        </div>
        <mat-form-field class="w-full">
          <input
            matInput
            type="email"
            id="email"
            ngModel
            required
            name="email"
            placeholder="Email"
          />
        </mat-form-field>
        <mat-form-field class="w-full mt-2">
          <input
            matInput
            [type]="changetype() ? 'text' : 'password'"
            name="password"
            id="password"
            required
            ngModel
            minlength="6"
            pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$"
            placeholder="Password (at least one letter & number)"
          />
          <button
            class="mr-2"
            type="button"
            mat-icon-button
            matSuffix
            (click)="viewpassword()"
          >
            <mat-icon>{{
              visible() ? "visibility" : "visibility_off"
            }}</mat-icon>
          </button>
        </mat-form-field>
        <!-- Heroicons -->
        <div class="flex items-center mb-2">
          <div class="flex-shrink-0 mr-2">
            <svg
              class="h-5 w-5 text-gray-500"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 21V10a4 4 0 014-4h4a4 4 0 014 4v11"
              />
            </svg>
          </div>
          <p class="text-gray-500">Minimum 6 characters</p>
        </div>

        <div class="flex items-center mb-2">
          <div class="flex-shrink-0 mr-2">
            <svg
              class="h-5 w-5 text-green-500"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
          </div>
          <p class="text-gray-500">At least one letter and number</p>
        </div>

        <div class="actionButtons mt-3 md:mt-4 flex flex-col items-center">
          <button
            mat-raised-button
            color="primary"
            [disabled]="!authForm.valid"
            class="w-full"
          >
            {{ isLoginMode() ? "Login" : "Sign Up" }}
          </button>
          <button
            mat-button
            color="primary"
            (click)="navigateToForgotPassword()"
            class="mt-2"
          >
            Forgot Password
          </button>

          <p class="mt-4 text-center text-gray-600">
            Switch to
            <span (click)="onSwitchMode()" class="text-sky-400 cursor-pointer">
              {{ isLoginMode() ? "Sign Up" : "Login" }}
            </span>
          </p>
        </div>
      </form>
    </mat-card>
  </div>
  <div class="signUpReq" *ngIf="approvalAsked()">
    <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline">Your signup request has been submitted. Please wait for approval from the admin.</span>
        <button class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="goToMainPage()">Go to Main Page</button>
    </div>
</div>

</div>
